@import url('https://fonts.googleapis.com/css2?family=Play:wght@700&family=Rowdies:wght@700&display=swap');
body {
    background-image: url("https://www.wallpaperup.com/uploads/wallpapers/2013/03/23/58367/ce726eef3acb17efeffd9a48241c68cd.jpg");
    /* background-color: cadetblue; */
    color: darkblue;
    font-family: 'Rowdies', cursive;
}
h1 {
    color: darkblue;
    font-weight: 600;
    line-height: 1.3;
}
p {
    font-family: 'Play', sans-serif;
    font-size: 30px;
}
#navbar {
    background-color: black;
    color: black;
    position: fixed;
    left: 0;
    top: 0;
    display: block;
    width: 100%;
    z-index: 100;
    overflow: hidden;
}
#navbar ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#navbar li a:hover {
    background-color: deepskyblue;
    color: black;
}
#wrapper {
    background-color: white;
    padding: 0%;
    max-width: 1000px;
    position: relative;
    top: 40px;
    margin: 0 auto;
}
#wrapper header{
    height: 120px;
    padding: 40px 20px;
    background-color: #eee;
    border-radius: 1em;
}
#main {
    width: 60%;
    padding: 3%;
}
#pt2 {
    width: 60%;
    padding: 3%;
}
img {
    max-width:100%;
}
#wrapper footer {
    clear: both;
    border: 1px solid black;
    width: 94.75%;
    background-color: dimgrey;
    text-align: center;
    height: 150px;
    padding: 25px;
}
@media screen and (max-width: 570px) {
    #wrapper {
        padding: 2%;
        max-width: 100%;
    }
}